#_404{
    background-color: coral;
}

.perso{
    width: 100%;
}
.orco_p, .enano_p, .huma_p, .elfo_p{
    width: 300px;
}

.main{
    display: flex;
    width: min-content;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: 0fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . . . ."
        ". . . . ."
        ". . . . ."; 
      
}
img{
    width: 370px;
    height: 500px;
}
.foto_uno {
    display: inline;
    width: 50%;
    height: 195px;
    position: relative;
    display: inline-block;
    margin: 50px;
}
.foto_dos {
    width: 50%;
    height: 195px;
    position: relative;
    display: inline-block;
    margin: 50px;
}
.foto_uno .top {
    display: inline;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.foto_dos .top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.foto_uno:hover .top {
    display: inline;
}
.foto_dos:hover .top {
    display: inline;
}
.equipamiento{
    visibility: hidden;
}
.personajes{
    visibility: hidden;
}
.foto_dos:hover .equipamiento {
    visibility: visible;
}
.foto_uno:hover .personajes {
    visibility: visible;
}
#nav{
    height: 90px;
    width: 100%;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color:dimgray;
}
li {
    float: left; 
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}
